body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h2 {
    color: #333;
}

header {
    background-color: #00468b; 
    color: white; 
    padding: 20px 0;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 20px; 
}

nav ul {
    list-style-type: none; 
    display: flex; 
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline; 
}

.hero-banner {
    background: url('assets/herobanner.jpg') no-repeat center center; 
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px; /* Adjust padding to fit your design */
}

.hero-content {
    max-width: 1200px;
    margin: 0 auto;
    position: relative; /* If you want to position elements inside the hero banner */
}

.hero-title {
    font-size: 3rem; /* Adjust the size as needed */
    margin-bottom: 20px;
}

.hero-subtitle {
    font-size: 1.5rem; /* Adjust the size as needed */
    margin-bottom: 40px;
}

.hero-button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #008cba; /* Change to match your design */
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem; /* Adjust the size as needed */
    border-radius: 5px; /* Optional: for rounded corners */
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #005f73; /* Darker shade for hover effect */
}


form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 500px;
    margin: 20px auto;
}

form p {
    margin: 15px 0;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box; 
}

button {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #003d82;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content p {
    margin: 5px 0; /* Espacement entre les lignes */
}
